<main class="main" id="main">

  <section class="section">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Country Details</h5>
          <div *ngIf="currentTutorial.id" class="edit-form">
            <form>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                  <input [(ngModel)]="currentTutorial.name"
                         class="form-control"
                         name="name"
                         type="text">
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                  <div class="form-check">
                    <input class="form-check-input"
                           id="gridCheck1"
                           type="checkbox"
                           name="enabled"
                           checked ="{{currentTutorial.enabled == true }}"
                           value="{{currentTutorial.enabled}}"
                    >
                    <label class="form-check-label" for="gridCheck1">
                      {{ currentTutorial.enabled ? "Enabled" : "Disabled" }}
                    </label>
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button (click)="updateTutorial()"
                        class="btn btn-primary"
                        type="submit"
                >Update
                </button>
                <button class="btn btn-secondary" routerLink="/countries"
                >Reset
                </button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div *ngIf="!currentTutorial.id">
        <br/>
        <p>Cannot access this Country...</p>
      </div>
    </div>

  </section>
</main>
