<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

        <div class="d-flex justify-content-center py-4">
          <a class="logo d-flex align-items-center w-auto" href="index.html">
            <img alt="" src="assets/img/logo.png">
            <span class="d-none d-lg-block">Video library</span>
          </a>
        </div><!-- End Logo -->

        <div class="card mb-3">
          <div class="card-body">

            <div class="pt-4 pb-2">
              <h5 class="card-title text-center pb-0 fs-4">Register Your Account</h5>
              <p class="text-center small">Enter signup information</p>
            </div>
            <form #myForm="ngForm"
                  (ngSubmit)="onSubmit(myForm)"
                  class="ng-pristine ng-untouched ng-valid" novalidate>

              <div class="col-12">
                <label class="form-label" for="username">User Email</label>
                <div class="input-group has-validation">
                  <span class="input-group-text" id="spanemail">@</span>
                  <input
                    #username="ngModel"
                    [(ngModel)]="registerRequest.username"
                    class="form-control"
                    id="username"
                    name="username" required
                  />
                  <div class="invalid-feedback">Please enter your email.</div>
                </div>
              </div>


              <div class="col-12">
                <label class="form-label" for="email">User Email</label>
                <div class="input-group has-validation">
                  <span class="input-group-text" id=""></span>
                  <input
                    #email="ngModel" [(ngModel)]="registerRequest.email"
                    class="form-control"
                    id="email" name="email" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                    required type="email"

                  />
                  <div class="invalid-feedback">Please enter your email.</div>
                </div>
              </div>

              <div class="col-12">
                <label class="form-label" for="password">Password</label>
                <div class="input-group has-validation">
                  <span class="input-group-text"></span>
                  <input
                    #password="ngModel" [(ngModel)]="registerRequest.password"
                    class="form-control"
                    id="password" name="password" required
                    type="password"
                  />
                  <div class="invalid-feedback">Please enter your email.</div>
                </div>
              </div>

              <div class="col-12">
                <button [disabled]="myForm.invalid"
                        class="btn btn-primary w-100" type="submit">Register
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
