<main class="main" id="main">

  <section class="section">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Film details</h5>
          <div *ngIf="currentTutorial.id" class="edit-form">
            <form>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="name">Name</label>
                <div class="col-sm-10">
                  <input [(ngModel)]="currentTutorial.name"
                         class="form-control"
                         type="text">
                </div>
              </div>


              <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                  <label class="btn btn-default p-0">
                    <input type="file" (change)="selectFile($event)" />
                  </label>
                </div>

                <div class="col-4">
                  <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
                    Upload
                  </button>
                </div>

                <div *ngIf="currentFile" class="progress my-3">
                  <div
                    class="progress-bar progress-bar-info progress-bar-striped"
                    role="progressbar"
                    attr.aria-valuenow="{{ progress }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    [ngStyle]="{ width: progress + '%' }"
                  >
                    {{ progress }}%
                  </div>
                </div>

              </div>


              <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                  <div class="form-check">
                    <input class="form-check-input"
                           id="gridCheck1" type="checkbox"
                           value="{{currentTutorial.enabled}}"
                    >
                    <label class="form-check-label" for="gridCheck1">
                      {{ currentTutorial.enabled ? "Published" : "Pending" }}
                    </label>
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button (click)="updateTutorial()"
                        class="btn btn-primary"
                        type="submit"
                >Submit
                </button>
                <button class="btn btn-secondary" routerLink="/countries"
                        type="reset"
                >Reset
                </button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div *ngIf="!currentTutorial.id">
        <br/>
        <p>Cannot access this Country...</p>
      </div>
    </div>

  </section>
</main>
