<aside class="sidebar" id="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="home">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="profile">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li><!-- End Profile Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" *ngIf="showAdminBoard"  routerLink="users">
        <i class="bi bi-clipboard-data"></i>
        <span>Users</span>
      </a>
    </li><!-- End Users Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="films">
        <i class="bi bi-camera-reels"></i>
        <span>Films</span>
      </a>
    </li><!-- End Films Page Nav -->

  </ul>
</aside>
